.location{
    @include flex-center;
    background: #EAEAEA;
    width: 100%;
    height: 50px;
    &__ville{
        margin-left: 17px;
        font-weight: 400;
    }
}
.reservation{
    width: 100%;
    &__content{
        width: 100%;
        @include flex-center();
        flex-direction: column;
        padding: 39.5px 0;
        background: #f7f7f7;
    }
    &__title{
        margin: 0;
        text-align: center;
        width: 275px;
        height: 68px;
    }
    &__subtitle{
        text-align: center;
        width: 315px;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 27px
    }
    &__button{
        @include button;
    }
}
.process{
    width: 100%;
    @include flex-center;
    &__content{
        background: #ffffff;
        width: 95%;
        display: flex;
        max-width: 1440px;
        flex-direction: column;
        padding: 48px 20px 68px;
    }
    &__steps{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__step{
        display: flex;
        align-items: center;
        background: #f7f7f7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-top: 25px;
        width: auto;
        height: 72px;
        position: relative;
    }
    &__number{
        background-color: $color-primary;
        color: white;
        position: absolute;
        padding: 4px 8px;
        border-radius:25px;
        transform: translateX(-50%);
        
    }
    &__icon{
        color: #7E7E7E;
        margin: 0 20px 0 33px;
        &-purple{
            color: $color-primary;
            margin: 0 20px 0 33px;
        }
    }  
}
.restaurants{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    background: #f6f6f6;
    padding-bottom: 66px;
    &__content{
        max-width: 1440px;
        width: 90%;
    }
    &__title{
        margin-top: 54px;
        margin-bottom: 20px;
    }
    &__cards{
        display: grid;
        grid-template-rows: repeat(4,1fr) ;
        grid-template-columns: 1fr;
        gap: 18px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        transform: scale(1.0);
        &-new{
            @include flex-center;
            position: absolute;
            background: $color-terciary;
            right: 20px;
            top: 20px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            & p{
                color: #008766;
                padding: 7px 9px;
            }
        }
        &-image{
            width: 100%;
            height: 190px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
        }

    }
    &__bloc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 15px 15px;
        background: white;
        width: 100%;
        height: 90px;
        &-info{
            padding: 13px;
            color: black;
        }
        &-name{
            font-weight: 700;
            font-size: 18px;
        }
        &-location{
            font-size: 17px;
            font-weight: 300;
        }
        &-hearth{
            @include flex-center;
            padding: 0 25px;
            @include hearth;
        }
    }
}
.footer{
    width: 100%;
    background: #353535;
    @include flex-center;
    &__content{
        width: 100%;
        display: inline;
        padding: 22px 25px;
    }
    &__logo{
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        padding-bottom: 16px;
    }
    &__bloc-links{
        display: inline-flex;
        flex-direction: column;
        width: auto;
        gap: 7px;
    }
    &__bloc-link{
       display: inline-flex;
       flex-direction: row;
       align-items: center;
       color: white;
       text-align: center;
       & i{
        margin-right: 11px;
       }
       &__title{
        font-size: 16px;
        font-weight: 400;
       }
    }
}

@media screen and (min-width: 800px) {
    .reservation__title{
        width: 100%;
    }
    .reservation__subtitle{
        width: 100%;
    }
    .process__steps{
        flex-direction: row;
        gap: 36px;
        justify-content: center;
        width: 100%;
    }
    .process__step{
        width: 100%;
    }
    .restaurants__cards{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    .footer{
        &__content{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        &__logo{
            padding: 0px;
            margin-left: 50px;
        }
        &__bloc-links{
            flex-direction: row;
            gap: 29px;
        }
    }
}
#loading-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeOut 1.5s forwards;
    animation-delay: 2s;
    .loader{
        border: 5px solid $color-terciary;
        border-top: $color-terciary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}