@use "sass:color";
@import "./variables";

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    font-size: 16px;
    font-weight: 500;
    background: $gradient;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 13px 18.75px;

    @include button-hover;
}

@mixin button-hover(){
    
    $hover-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);

    &:hover{
        cursor: pointer;
        opacity: 0.7;
        box-shadow: $hover-shadow;
        transition: box-shadow 0.3s ease-in-out;
    }
}

@mixin hearth{
    width: 22px;
    height: 21px;
        .heart-path {
            position: absolute;
            fill: none;
            stroke: black;
            stroke-width: 1;
        }
        .heart-filled {
            opacity: 0;
            transition: opacity 1s;
            fill: url(#purpleGradient);
            stroke: url(#purpleGradient);
        }
        &:active .heart-filled,
        &:focus .heart-filled,
        &:hover .heart-filled {
        opacity: 1;
        }
}